<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <% include ../layouts/script  %>
    <link rel='stylesheet' href='/personal/style.css' />
    <link href="bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <div class="bg">
      <% include ../layouts/header %>
      <img src="IMG_4161.JPG" id="bgi">
    </div>

    <div class="container">
      
      <% /* 使用者資訊 */ %>
      <div class="vertical-line"></div>
      <div class="username" id="username"><%= user.name %></div>
      <div class="student-number" id="student-number"><%= user.id %></div>
      
      <% /* BTNs */ %>
      <div class="links" id="game-score">遊戲積分</div>
      <div class="links" id="game">小遊戲</div>
      <div class="links" id="ask-record">發問紀錄</div>
      <div class="links" id="ask">我要發問</div>

      <% /* 頭貼外框 */ %>
      <div class="circle">
        <img class="profile-pic" src="profile-photo/<%= picname %>"/> 
      </div>
      <% /* 上傳按鈕 */ %>
      <div class="upload-icon">
        <label for="upload">
          <a data-toggle="modal" data-target="#changep">
            <img id="btn" src="camera.png"`>
          </a>
        </label>
      </div>

      <% /* 換頭貼Modal */ %>
      <div class="modal fade" id="changep" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4>更改圖片</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="editPicture" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <label class="col-md-4 control-label" for="elecategory">圖片</label>
                  <div class="col-md-12">
                    <input type="file" class="form-control input-md" name="picture">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">新增</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <% /* Toggle */ %>
      <div class="toggle-container">
        
        <% /* 遊戲積分 */ %>
        <div class="tog showToggle" id="game-score-toggle">
          <div class="score">
            <h1 id="sum-point"><%= user.score_sum %></h1>
            <p>分</p>
          </div>
          <div class="score-container">

            <div class="horizontal-bar"></div>
            
            <div class="box" id="ranking-box">
              <p class="scoreTag" id="rank">即時排名</p>
              <div class="lists" id="ranking-list">
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p> 
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
              </div>
            </div>

            <div class="box" id="score-box">
              <p class="scoreTag" id="playerScore">分數</p>
              <div class="lists" id="score-list">
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
              </div>
            </div>

            <div class="box" id="name-box">
              <p class="scoreTag" id="playerName">姓名</p>
              <div class="lists" id="name-list">
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
              </div>
            </div>
            
          </div>
        </div>

        <% /* 小遊戲 */ %>
        <div class="toggles" id="game-toggle">
          <div class="game-link">
            <a href="/coolgame">
              <img src="遊戲畫面.png">
              <p>進入小遊戲</p>
            </a>
          </div>
        </div>

        <% /* 發問紀錄 */ %>
        <div class="toggles" id="ask-record-toggle">
          <div class="ask-record-container">
            <div class="box-show">
              <div class="box-ask" id="date">
                <div class="tag-ask" id="date-tag">
                  <p>時間</p>
                </div>
                <% for(var a=question.length-1;a>-1;a--) { %>
                  <% if(question[a]) { %>
                    <%= convertDateToString(questions[index]._id.getTimestamp()) %>
                  <% } %>
                <% } %> 
              </div>
              <div class="box-ask" id="ask-title">
                <div class="tag-ask" id="title-tag">
                  <p>問題</p>
                </div>
                <% for(var a=question.length-1;a>-1;a--) { %>
                  <% if(question[a]) { %>
                    <li><%= question[a].title %></li>
                  <% } %>
                <% } %> 
              </div>
            </div>
          </div>
        </div>

        <% /* 我要發問 */ %>
        <div class="toggles" id="ask-toggle">
          <div class="ask-link">
            <a href="/qna">
              <img src="提問.png">
              <p>新增問題</p>
            </a>
          </div>
        </div>

      </div>

    </div>
  </body>
  <% include ../layouts/js %>
  <% include js %>
</html>
