<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <link rel='stylesheet' href='/personal/style.css' />
  </head>
  <body>
      <div class="modal fade qnaModal" postid="" id="showRecord" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="qnamodal-dialog" role="document">
          <div class="grid">
            <div class="qnamodal-content">
              <div class="qnamodal-header">
                <h2 class="qnamodal-title" style="color: #7CA7BC;"></h2>
                <button type="button" class="close" id="closebtn" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="qnamodal-body"><h5 style="color: #FB8360;">Question</h5></div>
              <div class="qnamodal-body" id="qContent"><p></p></div>
              <div class="qnamodal-body"><h5 style="color: #FB8360;">Answer</h5></div>
              <div class="qnamodal-body" id="aContent"><p></p></div>
              <div class="qnamodal-footer">
                <form action="deleteQna" method="POST">
                  <button type="button" id="deletebtn"> 刪除此提問 </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% include ../layouts/header %>
    <div class="title-box">
      <div class="vertical-line"></div>
      <div class="eng-title">Personal</div>
      <div class="ch-title">個人專區</div>     
    </div>
      <% /* 使用者資訊 */ %>
      <div class="user-box" id="userinfo">
        <div class="username" id="username"><%= user.name %></div>
        <div class="student-number" id="student-number"><%= user.id %></div>
      </div>

    <% /* BTNs */ %>
    <div class="btns">
      <div class="links yourLocation" id="game">小遊戲</div>
      <div class="links" id="ask-record">發問紀錄</div>      
      <div class="links" id="ask">我要發問</div>
      <a href="/logout">
        <div class="links" id="logout" >點我登出</div>
      </a>
    </div>

    <div class="profile">
        <% /* 頭貼外框 */ %>
        <div class="circle">
          <img class="profile-pic" src="profile-photo/<%= user.avatar %>" />
        </div>
        <% /* 上傳按鈕 */ %>
        <div class="upload-icon">
          <label for="upload">
            <a data-toggle="modal" data-target="#changep">
              <img id="btn" src="camera.png"`>
            </a>
          </label>
        </div>
    </div>
      

      <% /* 換頭貼Modal */ %>
      <div class="modal fade changeModal" id="changep" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4>更改圖片</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="editPicture" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <label class="col-md-4 control-label" for="elecategory">圖片</label>
                  <div class="col-md-12">
                    <input type="file" class="form-control input-md" accept="image/*" name="picture">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">新增</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <% /* Toggle */ %>
      <div class="toggle-container">

        <% /* 小遊戲 */ %>
        <div class="toggles showToggle" id="game-toggle">
            <div class="game-link col-md">
              <a href="/coolgame">
                <p>點我進入小遊戲</p>
                <img src="遊戲畫面.png">
              </a>
            </div>
            
            <div class="score col-md">
              <h1>目前積分</h1>
              <p><%= user.score_sum %> 分</p>
            </div>
        </div>

        <% /* 發問紀錄 */ %>
        <div class="toggles" id="ask-record-toggle">
          <div class="ask-record-container">
            <div class="ask" style="border-bottom: 2px solid black; margin-bottom: 2%;">
              <p>分類</p> <p>標題</p> <p>日期</p> <p>狀態</p>
            </div>
            <% for(var a=question.length-1;a>-1;a--) { %>
              <a id="linkToModal" data-toggle="modal" data-target=".qnaModal">
                <div class="ask askHover" id="<%= question[a].postID %>">
                  <p><%= question[a].category %></p>
                  <p><%= question[a].title %></p>
                  <p><%= convertDateToString(question[a]._id.getTimestamp()) %></p>
                  <% if(question[a].reviewed) { %>
                    <p>已審核</p>
                  <% } else { %>
                    <p>審核中</p>
                  <% } %>
                </div>
              </a>
            <% } %>            
          </div>
        </div>

        <% /* 我要發問 */ %>
        <div class="toggles" id="ask-toggle">
          <div class="ask-link">
            <a href="/qna">
              <p>點我發問</p>
              <img src="ask.png" style="z-index: 1;">
            </a>
          </div>
        </div>

      </div>

  </body>
  <% include ../layouts/js %>
  <% include js %>
</html>
