<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <% include ../layouts/script %>
    <script type="text/javascript" src="/js/ckeditor.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <style>
        .modal {
            z-index: 5010;
        }

        .modal-dialog {
            max-width: 710px;
        }

        .modal-backdrop {
            z-index: 5000;
        }

        #timePicker {
            position: relative;
        }

        .card-img {
            padding: 8%;
            margin-top: 1%;
        }
    </style>
</head>

<body>
    <modal>
        <div class="modal fade" id="ScheduleNewsModal" tabindex="-1" role="dialog" aria-labelledby="ScheduleNewsTitle"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ScheduleNewsTitle">
                            <div class="row align-items-center">
                                <div class="col-3">
                                    <h3>??</h3>
                                </div>
                                <div class="col-9">
                                    <select class="form-control form-control-lg" id="newsCategory">
                                        <option default value="0">請選擇</option>
                                        <option value="1">重要通知</option>
                                        <option value="2">學校活動</option>
                                        <option value="3">課業相關</option>
                                        <option value="4">生活日常</option>
                                        <option value="5">網站問題</option>
                                        <option value="6">學生組織</option>
                                    </select>
                                </div>
                            </div>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="article-title" style="margin-top: 30px;">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">標題</span>
                            </div>
                            <input type="text" class="form-control" id="newsTitle" placeholder="Enter Title"
                                aria-describedby="basic-addon1">
                        </div>
                        <p>
                            <input type="text" class="form-control" id="timePicker" placeholder="Select Date...">
                        </p>
                    </div>
                    <div class="modal-body" style="padding: 0;">
                        <textarea name="NewsBody" id="editor"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="Subbtn" class="btn btn-secondary" data-dismiss="modal">Delete</button>
                        <button type="button" id="SaveNewsbtn" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="CalenderModal" tabindex="-1" role="dialog" aria-labelledby="CalenderModalLongTitle"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="CalenderModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="month">Month</label>
                                    <input type="text" class="form-control" id="month" placeholder="Enter month">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="date">Date</label>
                                    <input type="text" class="form-control" id="date" placeholder="Enter Date">
                                </div>
                            </div>
                            <textarea name="boardContent" id="boardContent"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="saveCalender">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </modal>
    <% include ../layouts/header%>
    <main>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="news">
                        <div id="news-title">
                            <div class="text-center">
                                <div class="card-body">
                                    <h2 class="card-title">
                                        News
                                        <span><button type="button" class="btn btn-light" style="float: right"
                                                data-toggle="modal" data-target="#ScheduleNewsModal">Add</button></span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div id="news-body">
                            <% for(let i in news){ %>
                            <div class="card" data-toggle="modal" data-target="#ScheduleNewsModal"
                                pk="<%=news[i]['pk']%>">
                                <div class="row align-items-center">
                                    <div class="col-sm-2">
                                        <img src="index/icon-<%=icon[news[i]['category']-1]%>.png" class="card-img">
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="card-body">
                                            <h5><%=news[i]['title']%></h5>
                                            <span class="newsTime"><small><%=news[i].screenTime%></small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <div>
                            <div class="text-center">
                                <div class="card-body">
                                    <h2 class="card-title">
                                        Calender
                                        <span><button type="button" class="btn btn-light" style="float: right"
                                                data-toggle="modal" data-target="#CalenderModal">Add</button></span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <select class="form-control" id="calender">
                            <option selected disabled hidden>Inside are added date</option>
                            <% for (let i in calender) { %>
                            <option value="<%= calender[i]['pk'] %>">
                                <%= calender[i]['month'] %>/<%= calender[i]['date'] %></option>>
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <% include ../layouts/js %>
    <script>
        $(document).ready(() => {
            var newseditor = undefined, Calendereditor = undefined;
            $('#news span').click(() => {
                $('#Subbtn').hide();
                $('#SaveNewsbtn').text("新增");
            })
            $('.card').click((e) => {
                $('#Subbtn').show();
                $('#SaveNewsbtn').text("修改");
                $.ajax({
                    url: `/schedule/read?pk=${e.currentTarget.attributes.pk.value}`,
                    method: 'GET',
                    dataType: 'JSON',
                    error: (err) => { console.log(err) },
                    success: (res) => {
                        $("#newsTitle").val(res.title);
                        $("#newsCategory").val(res.category)
                        $("#timePicker").flatpickr({
                            enableTime: true,
                            dateFormat: "Y-m-d H:i",
                            static: true,
                            defaultDate: new Date(new Date(res.date).getTime() - 28800000)
                        })
                        newseditor.setData(res.content)
                    }
                }).then(() => {
                    $('#SaveNewbtn').addClass('editbtn');
                    $('#Subbtn').click(() => {
                        $.ajax({
                            url: `/schedule/delete?pk=${e.currentTarget.attributes.pk.value}`,
                            method: 'GET',
                            error: (err) => { console.log(err) },
                            success: (res) => { alert(res.message) }
                        }).always(() => {
                            $('#ScheduleNewsModal').modal('hide');
                            location.reload();
                        })
                    })
                    $('.editbtn').click(() => {
                        $.ajax({
                            url: `/schedule/update`,
                            method: 'POST',
                            dataType: 'JSON',
                            data: {
                                title: $("#newsTitle").val(),
                                category: $("#newsCategory").val(),
                                time: $("#timePicker").val(),
                                content: newseditor.getData(),
                                pk: e.currentTarget.attributes.pk.value
                            },
                            error: (err) => {
                                console.log(err.responseJSON);
                            },
                            success: (res) => {
                                alert(res.message)
                            }
                        }).always(() => {
                            $('#ScheduleNewsModal').modal('hide');
                            location.reload();
                        })
                    })
                })
            })
            $('#SaveNewsbtn').click(() => {
                if (($("#newsTitle").val() !== "") && ($("#newsCategory").val() !== 0)) {
                    if ($("#timePicker").val() !== "") {
                        var verb;
                        if (!$(this).hasClass("editbtn")) {
                            $.ajax({
                                url: `/schedule/create`,
                                method: 'POST',
                                dataType: 'JSON',
                                data: {
                                    title: $("#newsTitle").val(),
                                    category: $("#newsCategory").val(),
                                    time: $("#timePicker").val(),
                                    content: newseditor.getData()
                                },
                                error: (err) => {
                                    console.log(err.responseJSON);
                                },
                                success: (res) => {
                                    alert(res.message)
                                }
                            }).always(() => {
                                $('#ScheduleNewsModal').modal('hide');
                                location.reload();
                            })
                        }
                    } else {
                        alert("No time!")
                    }
                } else {
                    alert("No title or category!")
                }
            })

            $('#ScheduleNewsModal').on('show.bs.modal', (e) => {
                $('#timePicker').flatpickr({
                    enableTime: true,
                    dateFormat: "Y-m-d H:i",
                    static: true
                });
                ClassicEditor
                    .create(document.querySelector('#editor'))
                    .then(editor => {
                        console.log(editor);
                        newseditor = editor;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            })
            $('#ScheduleNewsModal').on('hide.bs.modal', (e) => {
                $('#timePicker').flatpickr().destroy();
                $("#newsTitle").val("");
                $("#newsCategory").val(0);
                newseditor.setData("");
                newseditor.destroy()
                    .catch(error => {
                        console.log(error);
                    });
                $('#SaveNewbtn').removeClass('editbtn');
            })
            $('#saveCalender').click(() => {
                if ($('#month').val() !== "" && $('#date').val() !== "") {
                    $.ajax({
                        method: 'POST',
                        url: '/calender/create',
                        dataType: 'JSON',
                        data: {
                            month: $('#month').val(),
                            date: $('#date').val(),
                            boardContent: Calendereditor.getData()
                        },
                        error: (err) => { console.error(err) },
                        success: (res) => {
                            alert(res.message)
                        }
                    }).always(() => {
                        $('#CalenderModal').modal('hide');
                        location.reload();
                    })
                } else {
                    alert("Something is empty.");
                }
            })
            $('#calender').on('change', () => {
                console.log($('#calender').val());
            })
            $('#CalenderModal').on('show.bs.modal', (e) => {
                ClassicEditor
                    .create(document.querySelector('#boardContent'))
                    .then(editor => {
                        console.log(editor);
                        Calendereditor = editor;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            })
            $('#CalenderModal').on('hide.bs.modal', (e) => {
                $('#month').val("");
                $('#date').val("");
                Calendereditor.setData("");
                Calendereditor.destroy()
                    .catch(error => {
                        console.log(error);
                    })
            })
        })
    </script>
</body>

</html>