<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <% include ../layouts/head %>
    <script type="text/javascript" src="/js/tinymce.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <style>
        .card-link{
            cursor: pointer;
        }
        .modal {
            z-index: 5010;
        }

        .modal-dialog {
            max-width: 710px;
        }

        .modal-backdrop {
            z-index: 5000;
        }

        #timePicker {
            position: relative;
        }

        .card-img {
            padding: 8%;
            margin-top: 1%;
        }
    </style>
</head>

<body>
    <modal>
        <div class="myForm">
            <form action="/adpic/commercial_urls" method="POST">
                <div class="form-group">
                    <label for="month">Month</label>
                    <input type="text" class="form-control" name="commerUrl" placeholder="url" style="margin-bottom:5px">
                    <button type="submit" class="btn btn-info">Update</button>
                </div>
            </form>
        </div>
        <div class="modal fade" id="ScheduleNewsModal" aria-labelledby="ScheduleNewsTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ScheduleNewsTitle">
                            <div class="row align-items-center">
                                <div class="col-3">
                                    <h3>??</h3>
                                </div>
                                <div class="col-9">
                                    <select class="form-control form-control-lg" id="newsCategory">
                                        <option default value="0">請選擇</option>
                                        <option value="1">重要通知</option>
                                        <option value="2">學校活動</option>
                                        <option value="3">課業相關</option>
                                        <option value="4">生活日常</option>
                                        <option value="5">網站問題</option>
                                        <option value="6">學生組織</option>
                                    </select>
                                </div>
                            </div>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="article-title" style="margin-top: 30px;">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">標題</span>
                            </div>
                            <input type="text" class="form-control" id="newsTitle" placeholder="Enter Title"
                                aria-describedby="basic-addon1">
                        </div>
                        <p>
                            <input type="text" class="form-control" id="timePicker" placeholder="Select Date...">
                        </p>
                    </div>
                    <div class="modal-body" style="padding: 0;">
                        <!-- <div id="editor" style="width: 100%;height:100px;display: block"></div> -->
                        <textarea name="NewsBody" id="editor" class="tinyeditor"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="Subbtn" class="btn btn-danger" data-dismiss="modal">Delete</button>
                        <button type="button" id="SaveNewsbtn" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="CalenderModal" tabindex="-1" role="dialog" aria-labelledby="CalenderModalLongTitle"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="CalenderModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="month">Month</label>
                                    <input type="text" class="form-control" id="month" placeholder="Enter month"
                                        pattern="^[1-9]|1[012]*$">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="date">Date</label>
                                    <input type="text" class="form-control" id="date" placeholder="Enter Date"
                                        pattern="^[1-9]|[12][0-9]|3[01]*$">
                                </div>
                            </div>
                            <textarea id="boardContent" class="tinyeditor"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="saveCalender">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </modal>
    <% include ../layouts/header%>
    <main>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="news">
                        <div id="news-title">
                            <div class="text-center">
                                <div class="card-body">
                                    <h2 class="card-title">
                                        News
                                        <span><button type="button" class="btn btn-light" style="float: right"
                                                data-toggle="modal" data-target="#ScheduleNewsModal">Add</button></span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div id="news-body"
                            style="max-height: calc(100vh - 150px); overflow-y:auto; overflow-x: hidden; border: 1px solid black; border-radius: 5px;">
                            <% for(let i in news){ %>
                            <div class="card newslist" data-toggle="modal" data-target="#ScheduleNewsModal"
                                pk="<%=news[i]['pk']%>">
                                <div class="row align-items-center">
                                    <div class="col-sm-2">
                                        <img src="index/icon-<%=icon[news[i]['category']]%>.png" class="card-img">
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="card-body">
                                            <h5><%=news[i]['title']%></h5>
                                            <span class="newsTime"><small><%=news[i].screenTime%></small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="text-center">
                            <div class="card-body">
                                <h2 class="card-title">
                                    Calender
                                    <span><button type="button" class="btn btn-light" style="float: right"
                                            data-toggle="modal" data-target="#CalenderModal">Add</button></span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="calender">
                            <option selected>Inside are added date</option>
                            <% for (let i in calender) { %>
                            <option value="<%= calender[i]['pk'] %>">
                                <%= calender[i]['month'] %>/<%= calender[i]['date'] %></option>
                            <% } %>
                        </select>
                    </div>
                    <div>
                        <div class="row" style="display: none;" id="CalenderTime">
                            <div class="col">
                                <div class="form-group">
                                    <label for="month">Month</label>
                                    <input type="text" class="form-control" id="editmonth" placeholder="Enter month"
                                        pattern="^[1-9]|1[012]*$">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="date">Date</label>
                                    <input type="text" class="form-control" id="editdate" placeholder="Enter Date"
                                        pattern="^[1-9]|[12][0-9]|3[01]*$">
                                </div>
                            </div>
                        </div>
                        <textarea id="editboard" class="tinyeditor"></textarea>
                        <button type="button" id="boardDeletebtn" class="btn btn-warning">刪除</button>
                        <button type="button" id="boardEditbtn" class="btn btn-dark">修改</button>
                    </div>
                </div>
            </div>
            <div class="container" style="max-width: 90%;">
                <div class="text-center">
                    <div class="card-body">
                        <h2 class="card-title">
                            Commercial
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <form action="/adpic" method="post" enctype="multipart/form-data">
                                    <label for="picupload" style="color: #ec6d4f;">
                                        <span>新增</span>
                                        <input type="file" name="commercialpic" id="picupload" accept="image/*"
                                            style="display: none" multiple onchange="loadFile(event)">
                                    </label>
                                    <button type="submit" class="btn btn-outline-dark">提交</button>
                                    <label id="howMany"></label>
                                </form>
                                <small>maxium 6 pic at a time</small>
                            </div>
                        </div>
                    </div>
                    <% for (let i in commercial) { %>
                    <div class="col-6">
                        <div class="card">
                            <img class="card-img-top" src="<%=commercial[i]['picPath']%>">
                            <div class="card-body">
                                <a class="card-link" data-toggle="popover">連結</a>
                                <a href="/adpic/delete?pk=<%= commercial[i]['pk']%>" class="card-link">刪除</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </main>
    <% include ../layouts/js %>
    <script>
        $('.myForm button').click(()=>{
            $(this).popover('toggle')
        })
        var loadFile = function (event) {
            $('#howMany').text(`上傳${event.target.files.length}個圖片`);
        };
        $(document).ready(() => {
            $(function () {
                $('[data-toggle="popover"]').popover({
                    placement:"top",
                    html:true,
                    title:"Add links",
                    content:$(".myForm")
                })
            })
            tinyMCE.get('editboard').setContent("");
            $('#news span').click(() => {
                $('#Subbtn').hide();
                $('#SaveNewsbtn').text("新增");
            })
            $('.newslist').click((e) => {
                $('#Subbtn').show();
                $('#SaveNewsbtn').text("修改");
                $.ajax({
                    url: `/schedule/read?pk=${e.currentTarget.attributes.pk.value}`,
                    method: 'GET',
                    dataType: 'JSON',
                    error: (err) => { console.log(err) },
                    success: (res) => {
                        $("#newsTitle").val(res.title);
                        $("#newsCategory").val(res.category)
                        $("#timePicker").flatpickr({
                            enableTime: true,
                            dateFormat: "Y-m-d H:i",
                            static: true,
                            defaultDate: new Date(new Date(res.date).getTime() - 28800000)
                        })
                        tinyMCE.get('editor').setContent(res.content);
                    }
                }).done(() => {
                    $('#SaveNewsbtn').addClass('editbtn');
                    $('#Subbtn').click(() => {
                        $.ajax({
                            url: `/schedule/delete?pk=${e.currentTarget.attributes.pk.value}`,
                            method: 'GET',
                            error: (err) => { console.log(err) },
                            success: (res) => { alert(res.message) }
                        }).always(() => {
                            $('#ScheduleNewsModal').modal('hide');
                            location.reload();
                        })
                    })
                    $('.editbtn').click(() => {
                        $.ajax({
                            url: `/schedule/update`,
                            method: 'POST',
                            dataType: 'JSON',
                            data: {
                                title: $("#newsTitle").val(),
                                category: $("#newsCategory").val(),
                                time: $("#timePicker").val(),
                                content: tinyMCE.get('editor').getContent(),
                                pk: e.currentTarget.attributes.pk.value
                            },
                            error: (err) => {
                                console.log(err.responseJSON);
                            },
                            success: (res) => {
                                alert(res.message)
                            }
                        }).always(() => {
                            $('#ScheduleNewsModal').modal('hide');
                            location.reload();
                        })
                    })
                })
            })
            $('#SaveNewsbtn').click(() => {
                if (($("#newsTitle").val() !== "") && ($("#newsCategory").val() !== 0)) {
                    if ($("#timePicker").val() !== "") {
                        var verb;
                        if (!$('#SaveNewsbtn').hasClass("editbtn")) {
                            $.ajax({
                                url: `/schedule/create`,
                                method: 'POST',
                                dataType: 'JSON',
                                data: {
                                    title: $("#newsTitle").val(),
                                    category: $("#newsCategory").val(),
                                    time: $("#timePicker").val(),
                                    content: tinyMCE.get('editor').getContent()
                                },
                                error: (err) => {
                                    console.log(err.responseJSON);
                                },
                                success: (res) => {
                                    alert(res.message)
                                }
                            }).always(() => {
                                $('#ScheduleNewsModal').modal('hide');
                                location.reload();
                            })
                        }
                    } else {
                        alert("No time!");
                    }
                } else {
                    alert("No title or category!")
                }
            })

            $('#ScheduleNewsModal').on('show.bs.modal', (e) => {
                $('#timePicker').flatpickr({
                    enableTime: true,
                    dateFormat: "Y-m-d H:i",
                    static: true
                });
            })
            $('#ScheduleNewsModal').on('hide.bs.modal', (e) => {
                $('#timePicker').flatpickr().destroy();
                $("#newsTitle").val("");
                $("#newsCategory").val(0);
                $('#SaveNewbtn').removeClass('editbtn');
            })
            $('#saveCalender').click(() => {
                if ($('#month').val() !== "" && $('#date').val() !== "") {
                    $.ajax({
                        method: 'POST',
                        url: '/calender/create',
                        dataType: 'JSON',
                        data: {
                            month: $('#month').val(),
                            date: $('#date').val(),
                            boardContent: tinyMCE.get('boardContent').getContent()
                        },
                        error: (err) => { console.error(err) },
                        success: (res) => {
                            alert(res.message)
                        }
                    }).always(() => {
                        $('#CalenderModal').modal('hide');
                        location.reload();
                    })
                } else {
                    alert("Something is empty.");
                }
            })
            $('#calender').on('change', (e) => {
                $.ajax({
                    url: `/calender/read?pk=${e.currentTarget.value}`,
                    method: 'GET',
                    dataType: 'JSON',
                    error: (err) => { console.error(err.responseText) },
                    success: (res) => {
                        tinyMCE.get('editboard').setContent(res.board_content);
                        $('#CalenderTime').show();
                        $('#editmonth').val(res.month);
                        $('#editdate').val(res.date);
                    }
                }).done((result) => {
                    $('#boardEditbtn').off('click');
                    $('#boardEditbtn').on('click', () => {
                        $.ajax({
                            url: '/calender/update',
                            method: 'POST',
                            dataType: 'JSON',
                            data: {
                                pk: result.pk,
                                month: $('#editmonth').val(),
                                date: $('#editdate').val(),
                                boardContent: tinyMCE.get('editboard').getContent()
                            },
                            error: (err) => { alert(err.responseText) },
                            success: (res) => { alert(res.message) }
                        }).done(() => { location.reload() })
                    })
                    $('#boardDeletebtn').off('click');
                    $('#boardDeletebtn').on('click', () => {
                        $.ajax({
                            url: `/calender/delete?pk=${result.pk}`,
                            method: 'GET',
                            dataType: 'JSON',
                            error: (err) => { alert(err.responseText) },
                            success: (res) => { alert(res.message) }
                        }).done(() => { location.reload() })
                    })
                })
            })
            $('#CalenderModal').on('hide.bs.modal', (e) => {
                $('#month').val("");
                $('#date').val("");
                tinyMCE.get('boardContent').setContent("");
            })
        })
    </script>
</body>

</html>