<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../layouts/head %>
        <script type="text/javascript" src="/js/tinymce.min.js"></script>
        <link rel='stylesheet' href='/groups/style.css' />
        <link rel="stylesheet" href="/fontawesome/css/all.min.css">
</head>

<body class="yellowBg">
    <% include ../layouts/header %>

        <div class="title_bar">

            <div class="line"></div>
            <div class="title" id="ass">
                <h1>OTHERS<br><span class="small_title">其他學生組織</span></h1>
            </div>
            <div class="navbar">
                <img src="/groups/line.png" class="cuttingline">
                <a class="nava a" href="/groups/department"><img src="/groups/department_btn.PNG" class="navimg"><br>系所</a>
                <a class="nava b" href="http://club.adm.ncu.edu.tw/clubs" target="_blank"><img src="/groups/club_btn.PNG" class="navimg"><br>社團</a>
                <a class="nava c" href="/groups/association"><img src="/groups/stu_btn.PNG" class="navimg"><br>學生會</a>
                <a class="nava d" target="_blank" href="https://sites.google.com/g.ncu.edu.tw/ideancu/%E7%A4%BE%E7%BE%A4%E5%9C%98%E9%9A%8A?authuser=0&fbclid=IwAR07XTyDeWeAc2hLV0WI6B5Z_0homKitFfINFvQ9mNK2jWZAfzcDcjbyZHQ"><img src="/groups/community_btn.PNG" class="navimg"><br>社群</a>
                <a class="nava e" href="/groups/others"><img src="/groups/others_btn.PNG" class="navimg"><br>其他學生組織</a>
            </div>
        </div>
        <div class="navbar">
            <img src="/groups/line.png" class="cuttingline">
            <a class="nava a" href="/groups/department"><img src="/groups/系所鈕.PNG" class="navimg"><br>系所</a>
            <a class="nava b" href="http://club.adm.ncu.edu.tw/clubs" target="_blank"><img src="/groups/社團鈕.PNG" class="navimg"><br>社團</a>
            <a class="nava c" href="/groups/association"><img src="/groups/學生會鈕.PNG" class="navimg"><br>學生會</a>
            <a class="nava d" target="_blank" href="https://sites.google.com/g.ncu.edu.tw/ideancu/%E7%A4%BE%E7%BE%A4%E5%9C%98%E9%9A%8A?authuser=0&fbclid=IwAR07XTyDeWeAc2hLV0WI6B5Z_0homKitFfINFvQ9mNK2jWZAfzcDcjbyZHQ"><img src="/groups/社群鈕.PNG" class="navimg"><br>社群</a>
            <a class="nava e" href="/groups/others"><img src="/groups/其他鈕.PNG" class="navimg"><br>其他學生組織</a>
        </div>
        </div>
        <%if(user && user.role==="admin"){%>
            <div class="buttons">
                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#add">
            新增
        </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit_delete">
            編輯/刪除
        </button>
            </div>
            <%}%>

                <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <form action="/groups/add_others" method="post">
                                    <div class="form-group">
                                        <label for="name" class="col-form-label">名稱</label>
                                        <input type="text" class="form-control" id="name" name="name">
                                    </div>

                                    <div class="form-group">
                                        <label for="intro" class="col-form-label">介紹</label>
                                        <textarea class="form-control  tinyeditor" id="intro" name="intro" cols="10" rols="10"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="modal fade" id="edit_delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">edit&delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="name" class="col-form-label">名稱</label>
                                        <select name="name" id="select_others_name" class="form-control">
                                        <% for(var i in others) {%>
    <option value="<%= others[i].name%>"><%=others[i].name%></option>
    <%}%>
                                                </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="edit_intro" class="col-form-label">介紹</label>
                                        <textarea class="form-control tinyeditor" id="edit_intro" name="intro" cols="10" rols="10"></textarea>
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button id="edit_others_submit" class="btn btn-primary">Save changes</button>
                                <button id="delete_others_submit" class="btn btn-danger">Delete</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="sidebar">
                    <ul>
                        <% for(var i in others) {%>
                            <a style="text-decoration:none; color: #0D4966;" href="/groups/others/<%=others[i].name%>">
                    <li class="sideli horizontal" id="<%=others[i].name%>"><i class="fas fa-angle-right fa-mob"></i>
                        <%=others[i].name%>
                    </li>
                </a>
                            <%}%>
                    </ul>
                </div>
                <%_ if(others_this!==null){ -%>
                    <div class="info">
                        <div class="info_title">
                            <%=others_this.name%>
                        </div>
                        <div class="content">
                            <%-others_this.intro%>
                        </div>

                    </div>


                    <%_ } -%>
                        <img src="其他.PNG" class=backgroundimg>

                        <script src="/groups/js/groups.js"></script>

                        <% include ../layouts/js %>
</body>

</html>