<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/video/style.css' />
    </head>
    <body>
          <%/* 標題 */%>
          <div class="bar_background">

            <%/* 返回按鈕 */%>
            <% if(title_bar[2] == null){ %>
            <a href="/video/">
                <div class="back"><img src="/video/箭頭.png"></div>
            </a>
            <% }else if(title_bar[4] == null ){ %>
            <a href="/video/<%= back_name %>">
                <div class="back"><div class="seahorse"><img src="/video/箭頭.png"></div></div>
            </a>
            <% }else if(title_bar[4] != null){ %>
            <a href="/video/v_interview/<%= back_name %>">
                <div class="back"><div class="seahorse"><img src="/video/箭頭.png"></div></div>
            </a>
            <% } %>

            <div class="title_bar">

                <%/* 黃線mark */%>
                <div class="line"></div>

                <a href="/video/">
                    <div class="title">
                        VIDEO<div class="small_title">影音專區</div>
                    </div>
                </a>

                <% if(title_bar[4] != null){ %>
                    <%/* 三角形*/%>
                    <div class="tri"></div>

                    <a href="/video/v_interview">
                        <div class="title">
                            <%= title_bar[0] %><div class="small_title"><%= title_bar[1] %></div>
                        </div>
                    </a>

                    <div class="tri"></div>

                    <a href="/video/v_interview/<%= back_name %>">
                        <div class="title">
                            <%= title_bar[2] %><div class="small_title"><%= title_bar[3] %></div>
                        </div>
                    </a>

                    <div class="tri"></div>

                    <div class="title">
                        <font color="#ec6d4f"><%= title_bar[4] %></font><div class="small_title"><%= title_bar[5] %></div>
                    </div>

                <% }else if(title_bar[2] != null && title_bar[4] == null){ %>
                    <div class="tri"></div>
                    <% if(title_bar[0] === 'LIFE'){ %>
                        <a href="/video/v_nculife">
                            <div class="title">
                                <%= title_bar[0] %><div class="small_title"><%= title_bar[1] %></div>
                            </div>
                        </a>

                        <div class="tri"></div>

                        <div class="title">
                            <font color="#ec6d4f"><%= title_bar[2] %></font><div class="small_title"><%= title_bar[3] %></div>
                        </div>
                    <% }else if(title_bar[0] === 'INTERVIEW'){ %>
                        <a href="/video/v_interview">
                            <div class="title">
                                <%= title_bar[0] %><div class="small_title"><%= title_bar[1] %></div>
                            </div>
                        </a>

                        <div class="tri"></div>

                        <div class="title">
                            <font color="#ec6d4f"><%= title_bar[2] %></font><div class="small_title"><%= title_bar[3] %></div>
                        </div>
                    <% } %>
                <% }else if(title_bar[2] == null){ %>
                    <div class="tri"></div>

                    <div class="title">
                        <font color="#ec6d4f"><%= title_bar[0] %></font><div class="small_title"><%= title_bar[1] %></div>
                    </div>
                <% } %>
            </div>
          </div>
    </body>
</html>