<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/video/style.css' />
    </head>
    <body>
          
        <%/* 標題 */%>
        <div class="title_bar">
          <%/* 黃線mark */%>
          <div class="line"></div>

          <%/* 影片用_學長姊學院 */%>
          <% if(title_bar[4] != null){ %>
            <div class="title" id="en1">
                <%= title_bar[2] %><div class="small_title"><%= title_bar[3] %></div>
            </div>

          <%/* 影片用_中大生活 */%>  
          <% }else if(title_bar[0] === 'LIFE'){ %>
            <div class="title">
                <%= title_bar[0] %><div class="small_title"><%= title_bar[1] %></div>
            </div>

          <%/* 影片用_中大傳說 */%>  
          <% }else if(title_bar[0] === 'LEGEND'){ %>
            <div class="title">
                <%= title_bar[0] %><div class="small_title"><%= title_bar[1] %></div>
            </div>

          <%/* 分頁用_學長姊學院 */%>  
          <% }else if(title_bar[0] === 'INTERVIEW' && title_bar[2] != null){ %>
            <div class="title" id="en1">
                <%= title_bar[2] %><div class="small_title"><%= title_bar[3] %></div>
            </div>
          <% }else if(title_bar[0] === 'INTERVIEW'){ %>
            <div class="title">
                <%= title_bar[0] %><div class="small_title"><%= title_bar[1] %></div>
            </div>
          <% } %>


          <%/* 返回鍵 */%>
          <%/* 中大生活、中大傳說、學長姊 */%>
          <% if(title_bar[2] == null){ %>
            <a href="/video/">
              <img src="/video/箭頭.png" class="back">
            </a>

          <% }else if(title_bar[4] == null ){ %>
            <%/* 中大生活、中大傳說影片 */%>
            <% if(title_bar[0] != 'INTERVIEW'){ %>
              <a href="/video/">
                <img src="/video/箭頭.png" class="back">
              </a>

            <%/* 學院底下 */%>
            <% }else if(title_bar[0] === 'INTERVIEW'){ %>
              <a href="/video/<%= back_name %>">
                <img src="/video/箭頭.png" class="back">
              </a>
            <% } %>

          <%/* 學長姊影片 */%>
          <% }else if(title_bar[4] != null){ %>
            <a href="/video/<%= back_name %>">
              <img src="/video/箭頭.png" class="back">
            </a>
          <% } %>

        </div>

        <script>
          //太長標題縮減
          $(document).ready(function(){
              var num1 = '<%= title_bar[2] %>'.length;

              //學長姊學院、影片
              if ('<%= title_bar[0] %>'==='INTERVIEW') {
                  //學院
                  //生理理工
                  if (num1 > 11) {
                      $("#en1").css({
                          "font-size": "14px",
                          "padding-top": "5px"
                      });
                  }
              }
          });
        </script>


    </body>
</html>