<!DOCTYPE html>
<html>

<head>
    <title>subStudy</title>
    <% include ../layouts/head %>
    <% include ../layouts/script %>
    <link rel=stylesheet type="text/css" href="../life.css">
</head>

<body>
    <% include ../layouts/header %>
    <% for(var i in data) { %>
        <% if (data[i].type == page) { %>
            <div class="studyTitle">
                <div class="name">
                    <p id="name"><%=data[i]['name']%></p><p id="college"><%=data[i]['mainTitle']%></p>
                </div>
            </div>
   
            <!-- <main id="main"> -->
            <div class="subContent">
                <div class="subTitle">
                    <h1><%=data[i]['subTitle']%></h1>
                </div>
                <div class="subStudyContent">
                    <div class='S'>
                    </div>
                    <div class="SpictureArea">
                        <img id="subStudyImg" src="../subPicture/<%=page%>.png">
                    </div>
                    
                    <div class='t'></div>
                    <div class="time">
                        <p>2012</p>
                        <p>2014</p>
                        <p>2017</p>
                        <p>2018</p>
                        <p>2019</p>
                        <p>2020</p>
                    </div>
                    <div class="container mt-5 mb-5">
                            <div class="row">
                                <div class="col-md-6 offset-md-3">
                                    <ul class="timeline">
                                        <li>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non</p>
                                        </li>
                                        <li>
                                            <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque </p>
                                        </li>
                                        <li>
                                            <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed null</p>
                                        </li>
                                        <li>
                                                <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis </p>
                                            </li>
    
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div> 
                <div class="studyContent">
                    <%- data[i]['content']%>
                </div>
            </div>
<!-- </main> -->
        <% } %>
    <% } %>
    <% include ../layouts/js %>
</body>

</html>