<!DOCTYPE html>
<html>

<head>
    <title>新生知訊網｜中大生活</title>
    <% include ../layouts/head %>
    <link rel=stylesheet type="text/css" href="../life.css">
</head>

<body>
    <% include ../layouts/header %>
    <% for(var i in data1) { %>
    <% if(data1[i]['type'] == page) { %>
    <div class="studyTitle">
        <div class="name">
            <p id="name"><%- data1[i]['name']%></p>
            <p id="college"><%- data1[i]['mainTitle']%></p>
        </div>
    </div>

    <!-- <main id="main"> -->
    <div class="subContent">
        <div class="subTitle">
            <p><%- data1[i]['subTitle']%></p>
        </div>
        <div class="subStudyContent">
            <div class='S'></div>
            <div class="SpictureArea">
                <div class="subStudyImg">
                    <%- data1[i]['picture'] %>
                </div>
            </div>
            <div class="container mt-5 mb-5">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <ul class="timeline">
                            <% for(var j in data2) { %>
                            <% if (data2[j]['type'] == page) { %>
                            <li>
                                <p id="time"><%- data2[j]['time']%></p>
                                <%- data2[j]['event']%>
                            </li>
                            <% } %>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="studyContent">
            <%- data1[i]['content']%>
        </div>
    </div>
    <% } %>
    <% } %>
    <% include ../layouts/js %>
    <script>
        $(document).ready(function () {
            var width = innerWidth;
            if (width <= 1024)
                document.location.href = "/life/study_phone/<%=page%>";
            $(window).resize(function () {
                width = innerWidth;
                if (width <= 1024)
                    document.location.href = "/life/study_phone/<%=page%>";
            });
        });
    </script>

</body>

</html>